/* Mobile & Tablet */
@media (max-width: 63.9375em) {
    .sidebar {
        display: none;
    }

    .header__category {
        left: var(--width-sub-sidebar);
    }

    .app__content {
        margin: calc((var(--header-height) * 2) - 11px) 0 0 var(--width-sub-sidebar);
    }

    #bars-checkbox:checked ~ .sidebar-tablet {
        transform: translateX(0);
    }

    #bars-checkbox:checked ~ .overlay {
        display: block;
    }

}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .header__wrap-between {
        padding: 0 6px 0 45px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .sub-sidebar {
        display: none;
    }

    .header__category {
        left: 0;
    }

    .app__content {
        margin: calc(var(--header-height) * 2 - 11px) 0 0 0;
    }

    .header__create-video {
        display: none;
    }

    .header__apps {
        display: none;
    }

    .header__search-mobile {
        display: block;
    }

    .header__wrap-between {
        display: none;
    }

    #bars-checkbox:checked ~ .header__category {
        left: 0;
    }

    #bars-checkbox:checked ~ .app__content {
        margin: calc((var(--header-height) * 2) - 11px) 0 0 0;
    }
}